{
  "openapi": "3.1.0",
  "info": {
    "title": "Are.na API",
    "version": "3.0.0",
    "contact": {
      "name": "Are.na Support",
      "url": "https://www.are.na/about#contact",
      "email": "help@are.na"
    },
    "description": "The Are.na REST API provides programmatic access to the Are.na platform - a tool for connecting ideas and building knowledge together.\n\n**⚠️ Work in Progress**: This v3 API is under active development. Breaking changes may occur. For production use, consider the stable [v2 API](https://dev.are.na).\n\n## Getting Started\n\nAll API requests use `https://api.are.na` as the base URL. Responses are JSON with consistent structure including hypermedia links for resource discovery.\n\n## Authentication\n\nMost endpoints work without authentication but provide additional access when authenticated. Use the standard `Authorization` header:\n\n```\nAuthorization: Bearer YOUR_TOKEN\n```\n\n**Supported Token Types:**\n- **OAuth2 Access Token**: Obtained via [OAuth2 flow](#tag/Authentication) (supports PKCE)\n- **Personal Access Token**: From [are.na/settings/oauth](https://www.are.na/settings/personal-access-tokens)\n\nFor OAuth2, note that the authorization endpoint is hosted on the main site (`www.are.na/oauth/authorize`),\nwhile the token endpoint is on the API (`api.are.na/v3/oauth/token`).\n\n**Authentication Levels:**\n- **Public**: No authentication needed (e.g., `/v3/ping`)\n- **Optional**: Works unauthenticated but respects permissions when authenticated\n- **Required**: Returns `401 Unauthorized` without valid token (e.g., `/v3/me`)\n\n## Rate Limiting\n\n**Acceptable Use**: This API is intended for building applications that integrate with Are.na, not for scraping or bulk data collection. Automated crawling, systematic downloading of content, or any form of structured data harvesting is prohibited. If you need bulk access to data for research or other purposes, please [contact us](mailto:help@are.na) to discuss your use case.\n\nRate limits are enforced per-minute based on your tier:\n\n| Tier | Requests/Minute |\n|------|-----------------|\n| Guest (unauthenticated) | 30 |\n| Free | 120 |\n| Premium | 300 |\n| Supporter/Lifetime | 600 |\n\n**Rate Limit Headers** (included in every response):\n- `X-RateLimit-Limit`: Your tier's per-minute limit\n- `X-RateLimit-Tier`: Current tier (guest/free/premium/supporter)\n- `X-RateLimit-Window`: Time window in seconds (always 60)\n- `X-RateLimit-Reset`: Unix timestamp when the limit resets\n\nWhen you exceed limits, you'll receive a `429 Too Many Requests` response with upgrade recommendations and retry timing.\n\n## Request Validation\n\nAll parameters are validated against this OpenAPI specification. Invalid requests return `400 Bad Request` with detailed error messages.\n\n## Error Responses\n\nErrors use standard HTTP status codes with JSON bodies:\n\n```json\n{\n  \"error\": \"Not Found\",\n  \"code\": 404,\n  \"details\": {\n    \"message\": \"The resource you requested does not exist\"\n  }\n}\n```\n\nCommon status codes:\n- `400`: Invalid request parameters\n- `401`: Authentication required or invalid\n- `403`: Insufficient permissions\n- `404`: Resource not found\n- `429`: Rate limit exceeded\n"
  },
  "servers": [
    { "url": "https://api.are.na", "description": "Production API" },
    { "url": "https://staging-api.are.na", "description": "Staging API" }
  ],
  "security": [{ "BearerAuth": [] }, {}],
  "components": {
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "Bearer token authentication.\n\nAccepts two token types:\n- OAuth2 access tokens (obtained via OAuth2 flow with Doorkeeper)\n- Personal access tokens (from your account settings at are.na/settings)\n\nExample: `Authorization: Bearer YOUR_TOKEN`\n",
        "bearerFormat": "token"
      },
      "OAuth2": {
        "type": "oauth2",
        "description": "OAuth 2.0 authentication. See [RFC 6749](https://tools.ietf.org/html/rfc6749) for details.\n\n**Supported Flows:**\n- **Authorization Code**: For web and mobile apps with a backend\n- **Authorization Code + PKCE**: For public clients (mobile apps, SPAs) without a client secret\n- **Client Credentials**: For server-to-server integrations\n\nPKCE ([RFC 7636](https://tools.ietf.org/html/rfc7636)) is supported for enhanced security with\npublic clients. Use `code_challenge_method=S256` for best security.\n\nAccess tokens do not expire. Register your application at [are.na/oauth/applications](https://www.are.na/oauth/applications).\n",
        "flows": {
          "authorizationCode": {
            "authorizationUrl": "https://www.are.na/oauth/authorize",
            "tokenUrl": "/v3/oauth/token",
            "scopes": { "write": "Full read/write access to your account" }
          },
          "clientCredentials": {
            "tokenUrl": "/v3/oauth/token",
            "scopes": { "write": "Full read/write access to your account" }
          }
        }
      }
    },
    "parameters": {
      "PageParam": {
        "name": "page",
        "in": "query",
        "required": false,
        "description": "Page number for pagination",
        "schema": { "type": "integer", "minimum": 1, "default": 1 },
        "example": 1
      },
      "PerParam": {
        "name": "per",
        "in": "query",
        "required": false,
        "description": "Number of items per page (max 100)",
        "schema": {
          "type": "integer",
          "minimum": 1,
          "maximum": 100,
          "default": 24
        },
        "example": 24
      },
      "IdParam": {
        "name": "id",
        "in": "path",
        "required": true,
        "description": "Resource ID",
        "schema": { "type": "integer" }
      },
      "SlugOrIdParam": {
        "name": "id",
        "in": "path",
        "required": true,
        "description": "Resource ID or slug",
        "schema": { "type": "string" }
      },
      "ConnectionSortParam": {
        "name": "sort",
        "in": "query",
        "required": false,
        "description": "Sort order (by created_at)",
        "schema": { "$ref": "#/components/schemas/ConnectionSort" },
        "example": "created_at_desc"
      },
      "ContentSortParam": {
        "name": "sort",
        "in": "query",
        "required": false,
        "description": "Sort order for content lists",
        "schema": { "$ref": "#/components/schemas/ContentSort" },
        "example": "created_at_desc"
      },
      "ChannelContentSortParam": {
        "name": "sort",
        "in": "query",
        "required": false,
        "description": "Sort order for channel contents",
        "schema": { "$ref": "#/components/schemas/ChannelContentSort" },
        "example": "position_asc"
      },
      "ContentTypeFilterParam": {
        "name": "type",
        "in": "query",
        "required": false,
        "description": "Filter by content type",
        "schema": { "$ref": "#/components/schemas/ContentTypeFilter" },
        "example": "Image"
      }
    },
    "responses": {
      "UnauthorizedResponse": {
        "description": "Unauthorized",
        "content": {
          "application/json": {
            "schema": { "$ref": "#/components/schemas/Error" }
          }
        }
      },
      "NotFoundResponse": {
        "description": "Resource not found",
        "content": {
          "application/json": {
            "schema": { "$ref": "#/components/schemas/Error" }
          }
        }
      },
      "ValidationErrorResponse": {
        "description": "Validation error",
        "content": {
          "application/json": {
            "schema": { "$ref": "#/components/schemas/Error" }
          }
        }
      },
      "ForbiddenResponse": {
        "description": "Forbidden - insufficient permissions to access this resource",
        "content": {
          "application/json": {
            "schema": { "$ref": "#/components/schemas/Error" }
          }
        }
      },
      "RateLimitResponse": {
        "description": "Rate limit exceeded",
        "headers": {
          "Retry-After": {
            "description": "Seconds to wait before retrying",
            "schema": { "type": "string" },
            "example": "65"
          },
          "X-RateLimit-Limit": {
            "description": "Request limit per minute",
            "schema": { "type": "string" },
            "example": "30"
          },
          "X-RateLimit-Tier": {
            "description": "User's current tier",
            "schema": { "type": "string" },
            "example": "guest"
          },
          "X-RateLimit-Window": {
            "description": "Time window in seconds",
            "schema": { "type": "string" },
            "example": "60"
          }
        },
        "content": {
          "application/json": {
            "schema": { "$ref": "#/components/schemas/RateLimitError" }
          }
        }
      }
    },
    "schemas": {
      "Error": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string",
            "description": "Error message",
            "example": "Not Found"
          },
          "code": {
            "type": "integer",
            "description": "HTTP status code",
            "example": 404
          },
          "details": {
            "type": "object",
            "description": "Additional error details",
            "properties": {
              "message": {
                "type": "string",
                "description": "Detailed error message",
                "example": "The resource you are looking for does not exist."
              }
            }
          }
        },
        "required": ["error", "code"]
      },
      "RateLimitError": {
        "type": "object",
        "description": "Rate limit exceeded error response with upgrade information and suggestions",
        "properties": {
          "error": {
            "type": "object",
            "properties": {
              "type": {
                "type": "string",
                "example": "rate_limit_exceeded",
                "description": "Error type identifier"
              },
              "message": {
                "type": "string",
                "example": "Rate limit of 30 requests per minute exceeded for guest tier. Try again later.",
                "description": "Human-readable error message"
              },
              "tier": {
                "type": "string",
                "enum": ["guest", "free", "premium", "supporter"],
                "example": "guest",
                "description": "User's current tier"
              },
              "limit": {
                "type": "integer",
                "example": 30,
                "description": "Request limit per minute for this tier"
              },
              "limit_window": {
                "type": "string",
                "example": "1 minute",
                "description": "Time window for rate limits"
              },
              "retry_after": {
                "type": "integer",
                "example": 65,
                "description": "Suggested seconds to wait before retrying"
              },
              "current_status": {
                "type": "object",
                "properties": {
                  "tier": { "type": "string", "example": "guest" },
                  "limits": {
                    "type": "object",
                    "example": {
                      "guest": 30,
                      "free": 120,
                      "premium": 300,
                      "supporter": 600
                    }
                  },
                  "upgrade_path": {
                    "type": "object",
                    "properties": {
                      "current": {
                        "type": "string",
                        "example": "Guest (30 req/min)"
                      },
                      "recommended": {
                        "type": "string",
                        "example": "Free Account (120 req/min)"
                      },
                      "benefits": {
                        "type": "array",
                        "items": { "type": "string" },
                        "example": [
                          "4x higher rate limit",
                          "Persistent authentication",
                          "API access"
                        ]
                      },
                      "action": {
                        "type": "string",
                        "example": "Sign up at https://are.na/signup"
                      }
                    }
                  }
                }
              },
              "suggestions": {
                "type": "array",
                "items": { "type": "string" },
                "example": [
                  "Sign up for a free account to get 120 requests per minute",
                  "Implement exponential backoff with jitter",
                  "Cache responses when possible to reduce API calls",
                  "Consider batch requests if available"
                ],
                "description": "Tier-specific optimization suggestions"
              },
              "headers_note": {
                "type": "string",
                "example": "Check 'X-RateLimit-*' headers on successful requests for current usage",
                "description": "Information about header usage"
              }
            },
            "required": [
              "type",
              "message",
              "tier",
              "limit",
              "retry_after",
              "suggestions"
            ]
          }
        },
        "required": ["error"]
      },
      "Links": {
        "type": "object",
        "description": "HATEOAS links for navigation and discovery.\nFollows HAL (Hypertext Application Language) format where link relationships \nare expressed as object keys (e.g., \"self\", \"user\", \"channels\").\n",
        "properties": {
          "self": {
            "allOf": [
              { "$ref": "#/components/schemas/Link" },
              { "description": "Link to the current resource (always present)" }
            ]
          }
        },
        "required": ["self"],
        "additionalProperties": { "$ref": "#/components/schemas/Link" }
      },
      "Link": {
        "type": "object",
        "description": "A hypermedia link containing the URL of a linked resource.\nThe relationship type is expressed by the key in the parent _links object.\n",
        "properties": {
          "href": {
            "type": "string",
            "format": "uri",
            "description": "The URL of the linked resource",
            "example": "https://api.are.na/v3/blocks/12345"
          }
        },
        "required": ["href"]
      },
      "MarkdownContent": {
        "type": "object",
        "description": "Markdown content with multiple renderings",
        "properties": {
          "markdown": {
            "type": "string",
            "description": "Original markdown value",
            "example": "This is **only** a [test](https://example.com)."
          },
          "html": {
            "type": "string",
            "description": "HTML rendering of the markdown",
            "example": "\u003cp\u003eThis is \u003cstrong\u003eonly\u003c/strong\u003e a \u003ca href=\"https://example.com\" target=\"_blank\" rel=\"nofollow noopener\"\u003etest\u003c/a\u003e.\u003c/p\u003e"
          },
          "plain": {
            "type": "string",
            "description": "Plain text rendering of the markdown",
            "example": "This is only a test (https://example.com)."
          }
        },
        "required": ["markdown", "html", "plain"]
      },
      "EmbeddedUser": {
        "type": "object",
        "description": "Embedded user representation (used when user is nested in other resources)",
        "properties": {
          "id": {
            "type": "integer",
            "description": "Unique identifier for the user",
            "example": 12345
          },
          "type": {
            "type": "string",
            "description": "User type",
            "enum": ["User"],
            "example": "User"
          },
          "name": {
            "type": "string",
            "description": "User's display name",
            "example": "John Doe"
          },
          "slug": {
            "type": "string",
            "description": "URL-safe identifier (use this in API paths)",
            "example": "john-doe"
          },
          "avatar": {
            "type": ["string", "null"],
            "format": "uri",
            "description": "URL to user's avatar image",
            "example": "https://d2w9rnfcy7mm78.cloudfront.net/12345/avatar.jpg"
          },
          "initials": {
            "type": "string",
            "description": "User's initials",
            "example": "JD"
          }
        },
        "required": ["id", "type", "name", "slug", "avatar", "initials"]
      },
      "ConnectionContext": {
        "type": "object",
        "description": "Connection metadata that describes how an item is connected to a channel.\nThis is only present when the item is returned as part of a channel's contents.\n",
        "properties": {
          "id": {
            "type": "integer",
            "description": "Unique identifier for the connection",
            "example": 98765
          },
          "position": {
            "type": "integer",
            "description": "Position of the item within the channel (for manual ordering)",
            "example": 1
          },
          "pinned": {
            "type": "boolean",
            "description": "Whether the item is pinned to the top of the channel",
            "example": false
          },
          "connected_at": {
            "type": "string",
            "format": "date-time",
            "description": "When the item was connected to the channel",
            "example": "2023-01-15T10:30:00Z"
          },
          "connected_by": {
            "oneOf": [
              { "$ref": "#/components/schemas/EmbeddedUser" },
              { "type": "null" }
            ],
            "description": "User who connected this item to the channel"
          }
        },
        "required": ["id", "position", "pinned", "connected_at", "connected_by"]
      },
      "EmbeddedGroup": {
        "type": "object",
        "description": "Embedded group representation (used when group is nested in other resources)",
        "properties": {
          "id": {
            "type": "integer",
            "description": "Unique identifier for the group",
            "example": 67890
          },
          "type": {
            "type": "string",
            "description": "Group type",
            "enum": ["Group"],
            "example": "Group"
          },
          "name": {
            "type": "string",
            "description": "Group's name",
            "example": "Design Team"
          },
          "slug": {
            "type": "string",
            "description": "Group's URL slug",
            "example": "design-team-abc123"
          },
          "avatar": {
            "type": ["string", "null"],
            "format": "uri",
            "description": "URL to group's avatar image",
            "example": "https://d2w9rnfcy7mm78.cloudfront.net/groups/67890/avatar.jpg"
          },
          "initials": {
            "type": "string",
            "description": "Group's initials",
            "example": "DT"
          }
        },
        "required": ["id", "type", "name", "slug", "avatar", "initials"]
      },
      "User": {
        "description": "Full user representation",
        "allOf": [
          { "$ref": "#/components/schemas/EmbeddedUser" },
          {
            "type": "object",
            "properties": {
              "created_at": {
                "type": "string",
                "format": "date-time",
                "description": "When the user was created",
                "example": "2023-01-15T10:30:00Z"
              },
              "updated_at": {
                "type": "string",
                "format": "date-time",
                "description": "When the user was last updated",
                "example": "2023-06-20T14:45:00Z"
              },
              "bio": {
                "oneOf": [
                  { "$ref": "#/components/schemas/MarkdownContent" },
                  { "type": "null" }
                ],
                "description": "User biography with markdown, HTML, and plain text renderings"
              },
              "counts": { "$ref": "#/components/schemas/UserCounts" },
              "_links": {
                "allOf": [
                  { "$ref": "#/components/schemas/Links" },
                  { "description": "HATEOAS links for navigation" }
                ]
              }
            },
            "required": ["created_at", "updated_at", "counts", "_links"]
          }
        ]
      },
      "UserCounts": {
        "type": "object",
        "description": "Counts of various items for the user",
        "properties": {
          "channels": {
            "type": "integer",
            "description": "Number of channels owned by the user",
            "example": 24
          },
          "followers": {
            "type": "integer",
            "description": "Number of followers",
            "example": 156
          },
          "following": {
            "type": "integer",
            "description": "Number of users being followed",
            "example": 89
          }
        },
        "required": ["channels", "followers", "following"]
      },
      "Group": {
        "description": "Full group representation",
        "allOf": [
          { "$ref": "#/components/schemas/EmbeddedGroup" },
          {
            "type": "object",
            "properties": {
              "bio": {
                "oneOf": [
                  { "$ref": "#/components/schemas/MarkdownContent" },
                  { "type": "null" }
                ],
                "description": "Group biography with markdown, HTML, and plain text renderings"
              },
              "created_at": {
                "type": "string",
                "format": "date-time",
                "description": "When the group was created",
                "example": "2023-01-15T10:30:00Z"
              },
              "updated_at": {
                "type": "string",
                "format": "date-time",
                "description": "When the group was last updated",
                "example": "2023-06-20T14:45:00Z"
              },
              "user": {
                "allOf": [
                  { "$ref": "#/components/schemas/EmbeddedUser" },
                  { "description": "User who owns/created the group" }
                ]
              },
              "counts": { "$ref": "#/components/schemas/GroupCounts" },
              "_links": {
                "allOf": [
                  { "$ref": "#/components/schemas/Links" },
                  { "description": "HATEOAS links for navigation" }
                ]
              }
            },
            "required": ["created_at", "updated_at", "user", "counts", "_links"]
          }
        ]
      },
      "GroupCounts": {
        "type": "object",
        "description": "Counts of various items for the group",
        "properties": {
          "channels": {
            "type": "integer",
            "description": "Number of channels owned by the group",
            "example": 12
          },
          "users": {
            "type": "integer",
            "description": "Number of users in the group",
            "example": 5
          }
        },
        "required": ["channels", "users"]
      },
      "ContentTypeFilter": {
        "type": "string",
        "description": "Filter for content types (blocks and channels)",
        "enum": [
          "Text",
          "Image",
          "Link",
          "Attachment",
          "Embed",
          "Channel",
          "Block"
        ]
      },
      "SearchTypeFilter": {
        "type": "string",
        "description": "Filter for searchable content types (includes all content types plus users and groups)",
        "enum": [
          "All",
          "Text",
          "Image",
          "Link",
          "Attachment",
          "Embed",
          "Channel",
          "Block",
          "User",
          "Group"
        ]
      },
      "FileExtension": {
        "type": "string",
        "description": "Supported file extensions for filtering",
        "enum": [
          "aac",
          "ai",
          "aiff",
          "avi",
          "avif",
          "bmp",
          "csv",
          "doc",
          "docx",
          "eps",
          "epub",
          "fla",
          "gif",
          "h264",
          "heic",
          "heif",
          "ind",
          "indd",
          "jpeg",
          "jpg",
          "key",
          "kml",
          "kmz",
          "latex",
          "m4a",
          "ma",
          "mb",
          "mid",
          "midi",
          "mov",
          "mp3",
          "mp4",
          "mp4v",
          "mpeg",
          "mpg",
          "mpg4",
          "numbers",
          "oga",
          "ogg",
          "ogv",
          "otf",
          "pages",
          "pdf",
          "pgp",
          "png",
          "ppt",
          "pptx",
          "psd",
          "svg",
          "swa",
          "swf",
          "tex",
          "texi",
          "texinfo",
          "tfm",
          "tif",
          "tiff",
          "torrent",
          "ttc",
          "ttf",
          "txt",
          "wav",
          "webm",
          "webp",
          "wma",
          "xls",
          "xlsx",
          "xlt"
        ]
      },
      "ConnectionSort": {
        "type": "string",
        "description": "Sort order for connection lists (channels containing a block/channel, followers)",
        "enum": ["created_at_desc", "created_at_asc"]
      },
      "ChannelContentSort": {
        "type": "string",
        "description": "Sort order for channel contents (includes position for manual ordering)",
        "enum": [
          "position_asc",
          "position_desc",
          "created_at_asc",
          "created_at_desc",
          "updated_at_asc",
          "updated_at_desc"
        ]
      },
      "ContentSort": {
        "type": "string",
        "description": "Sort order for user/group content lists",
        "enum": [
          "created_at_asc",
          "created_at_desc",
          "updated_at_asc",
          "updated_at_desc"
        ]
      },
      "Block": {
        "description": "A block is a piece of content on Are.na. Blocks come in different types,\neach with its own set of fields. Use the `type` field to determine which\nfields are available.\n",
        "oneOf": [
          { "$ref": "#/components/schemas/TextBlock" },
          { "$ref": "#/components/schemas/ImageBlock" },
          { "$ref": "#/components/schemas/LinkBlock" },
          { "$ref": "#/components/schemas/AttachmentBlock" },
          { "$ref": "#/components/schemas/EmbedBlock" }
        ],
        "discriminator": {
          "propertyName": "type",
          "mapping": {
            "Text": "#/components/schemas/TextBlock",
            "Image": "#/components/schemas/ImageBlock",
            "Link": "#/components/schemas/LinkBlock",
            "Attachment": "#/components/schemas/AttachmentBlock",
            "Embed": "#/components/schemas/EmbedBlock"
          }
        }
      },
      "BaseBlockProperties": {
        "type": "object",
        "description": "Common properties shared by all block types",
        "properties": {
          "id": {
            "type": "integer",
            "description": "Unique identifier for the block",
            "example": 12345
          },
          "base_type": {
            "type": "string",
            "description": "Base type of the block (always \"Block\")",
            "enum": ["Block"],
            "example": "Block"
          },
          "title": {
            "type": ["string", "null"],
            "description": "Block title",
            "example": "Interesting Article"
          },
          "description": {
            "oneOf": [
              { "$ref": "#/components/schemas/MarkdownContent" },
              { "type": "null" }
            ],
            "description": "Block description with multiple renderings"
          },
          "state": {
            "type": "string",
            "enum": ["available", "pending", "failed", "processing"],
            "description": "Processing state of the block:\n- `available`: Block is ready and fully processed\n- `pending`: Block is queued for processing\n- `processing`: Block is currently being processed (e.g., image thumbnails, metadata extraction)\n- `failed`: Block processing failed (may still be viewable but incomplete)\n",
            "example": "available"
          },
          "visibility": {
            "type": "string",
            "enum": ["public", "private", "orphan"],
            "description": "Visibility level of the block:\n- `public`: Visible to everyone\n- `private`: Only visible to the owner\n- `orphan`: Block exists but is not connected to any channel\n",
            "example": "public"
          },
          "comment_count": {
            "type": "integer",
            "description": "Number of comments on the block",
            "example": 5
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "When the block was created",
            "example": "2023-01-15T10:30:00Z"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time",
            "description": "When the block was last updated",
            "example": "2023-01-15T14:45:00Z"
          },
          "user": { "$ref": "#/components/schemas/EmbeddedUser" },
          "source": {
            "oneOf": [
              { "$ref": "#/components/schemas/BlockSource" },
              { "type": "null" }
            ],
            "description": "Source URL and metadata (if block was created from a URL)"
          },
          "_links": {
            "allOf": [
              { "$ref": "#/components/schemas/Links" },
              { "description": "HATEOAS links for navigation" }
            ]
          },
          "connection": {
            "oneOf": [
              { "$ref": "#/components/schemas/ConnectionContext" },
              { "type": "null" }
            ],
            "description": "Connection context (only present when block is returned as part of channel contents).\nContains position, pinned status, and information about who connected the block.\n"
          }
        },
        "required": [
          "id",
          "base_type",
          "state",
          "visibility",
          "comment_count",
          "created_at",
          "updated_at",
          "user",
          "_links"
        ]
      },
      "TextBlock": {
        "description": "A text block containing markdown content",
        "allOf": [
          { "$ref": "#/components/schemas/BaseBlockProperties" },
          {
            "type": "object",
            "properties": {
              "type": {
                "type": "string",
                "enum": ["Text"],
                "description": "Block type (always \"Text\" for TextBlock)"
              },
              "content": {
                "$ref": "#/components/schemas/MarkdownContent",
                "description": "Text content with markdown, HTML, and plain text renderings"
              }
            },
            "required": ["type", "content"]
          }
        ]
      },
      "ImageBlock": {
        "description": "An image block containing an uploaded or scraped image",
        "allOf": [
          { "$ref": "#/components/schemas/BaseBlockProperties" },
          {
            "type": "object",
            "properties": {
              "type": {
                "type": "string",
                "enum": ["Image"],
                "description": "Block type (always \"Image\" for ImageBlock)"
              },
              "image": {
                "$ref": "#/components/schemas/BlockImage",
                "description": "Image data with multiple resolutions"
              }
            },
            "required": ["type", "image"]
          }
        ]
      },
      "LinkBlock": {
        "description": "A link block representing a URL with optional preview",
        "allOf": [
          { "$ref": "#/components/schemas/BaseBlockProperties" },
          {
            "type": "object",
            "properties": {
              "type": {
                "type": "string",
                "enum": ["Link"],
                "description": "Block type (always \"Link\" for LinkBlock)"
              },
              "image": {
                "oneOf": [
                  { "$ref": "#/components/schemas/BlockImage" },
                  { "type": "null" }
                ],
                "description": "Preview image (if available)"
              },
              "content": {
                "oneOf": [
                  { "$ref": "#/components/schemas/MarkdownContent" },
                  { "type": "null" }
                ],
                "description": "Extracted text content from the link"
              }
            },
            "required": ["type"]
          }
        ]
      },
      "AttachmentBlock": {
        "description": "An attachment block containing an uploaded file",
        "allOf": [
          { "$ref": "#/components/schemas/BaseBlockProperties" },
          {
            "type": "object",
            "properties": {
              "type": {
                "type": "string",
                "enum": ["Attachment"],
                "description": "Block type (always \"Attachment\" for AttachmentBlock)"
              },
              "attachment": {
                "$ref": "#/components/schemas/BlockAttachment",
                "description": "Attachment file data"
              },
              "image": {
                "oneOf": [
                  { "$ref": "#/components/schemas/BlockImage" },
                  { "type": "null" }
                ],
                "description": "Preview image (for PDFs and other previewable files)"
              }
            },
            "required": ["type", "attachment"]
          }
        ]
      },
      "EmbedBlock": {
        "description": "An embed block containing embedded media (video, audio, etc.)",
        "allOf": [
          { "$ref": "#/components/schemas/BaseBlockProperties" },
          {
            "type": "object",
            "properties": {
              "type": {
                "type": "string",
                "enum": ["Embed"],
                "description": "Block type (always \"Embed\" for EmbedBlock)"
              },
              "embed": {
                "$ref": "#/components/schemas/BlockEmbed",
                "description": "Embed data including HTML and dimensions"
              },
              "image": {
                "oneOf": [
                  { "$ref": "#/components/schemas/BlockImage" },
                  { "type": "null" }
                ],
                "description": "Thumbnail image (if available)"
              }
            },
            "required": ["type", "embed"]
          }
        ]
      },
      "BlockSource": {
        "type": "object",
        "properties": {
          "url": {
            "type": "string",
            "format": "uri",
            "description": "Source URL",
            "example": "https://example.com/article"
          },
          "title": {
            "type": ["string", "null"],
            "description": "Source title",
            "example": "Original Article Title"
          },
          "provider": {
            "oneOf": [
              { "$ref": "#/components/schemas/BlockProvider" },
              { "type": "null" }
            ]
          }
        },
        "required": ["url"]
      },
      "BlockProvider": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "Provider name (from parsed URI host)",
            "example": "Example.com"
          },
          "url": {
            "type": "string",
            "format": "uri",
            "description": "Provider URL (from parsed URI scheme and host)",
            "example": "https://example.com"
          }
        },
        "required": ["name", "url"]
      },
      "BlockImage": {
        "type": "object",
        "properties": {
          "alt_text": {
            "type": ["string", "null"],
            "description": "Alternative text associated with the image",
            "example": "Scanned collage of magazine cutouts"
          },
          "blurhash": {
            "type": ["string", "null"],
            "description": "BlurHash representation of the image for progressive loading",
            "example": "LEHV6nWB2yk8pyo0adR*.7kCMdnj"
          },
          "width": {
            "type": ["integer", "null"],
            "description": "Original image width in pixels",
            "example": 1920
          },
          "height": {
            "type": ["integer", "null"],
            "description": "Original image height in pixels",
            "example": 1080
          },
          "aspect_ratio": {
            "type": ["number", "null"],
            "format": "float",
            "description": "Image aspect ratio (width / height)",
            "example": 1.7778
          },
          "content_type": {
            "type": "string",
            "description": "Image content type",
            "example": "image/jpeg"
          },
          "filename": {
            "type": "string",
            "description": "Image filename",
            "example": "image.jpg"
          },
          "file_size": {
            "type": ["integer", "null"],
            "description": "File size in bytes",
            "example": 1024000
          },
          "updated_at": {
            "type": "string",
            "format": "date-time",
            "description": "When the image was last updated",
            "example": "2023-01-15T14:45:00Z"
          },
          "small": {
            "allOf": [
              { "$ref": "#/components/schemas/ImageVersion" },
              { "description": "Small image version (thumb)" }
            ]
          },
          "medium": {
            "allOf": [
              { "$ref": "#/components/schemas/ImageVersion" },
              { "description": "Medium image version (display)" }
            ]
          },
          "large": {
            "allOf": [
              { "$ref": "#/components/schemas/ImageVersion" },
              { "description": "Large image version" }
            ]
          },
          "square": {
            "allOf": [
              { "$ref": "#/components/schemas/ImageVersion" },
              { "description": "Square cropped image version" }
            ]
          }
        },
        "required": ["small", "medium", "large", "square"]
      },
      "ImageVersion": {
        "type": "object",
        "description": "A resized/processed version of an image with multiple resolution URLs",
        "properties": {
          "src": {
            "type": "string",
            "format": "uri",
            "description": "Default image URL (1x resolution)",
            "example": "https://d2w9rnfcy7mm78.cloudfront.net/12345/display_image.jpg"
          },
          "src_1x": {
            "type": "string",
            "format": "uri",
            "description": "1x resolution image URL",
            "example": "https://d2w9rnfcy7mm78.cloudfront.net/12345/display_image.jpg"
          },
          "src_2x": {
            "type": "string",
            "format": "uri",
            "description": "2x resolution image URL for high DPI displays",
            "example": "https://d2w9rnfcy7mm78.cloudfront.net/12345/display_image@2x.jpg"
          },
          "width": {
            "type": ["integer", "null"],
            "description": "Width of the resized image in pixels",
            "example": 640
          },
          "height": {
            "type": ["integer", "null"],
            "description": "Height of the resized image in pixels",
            "example": 480
          }
        },
        "required": ["src", "src_1x", "src_2x"]
      },
      "BlockEmbed": {
        "type": "object",
        "properties": {
          "url": {
            "type": ["string", "null"],
            "format": "uri",
            "description": "Embed URL",
            "example": "https://www.youtube.com/embed/abc123"
          },
          "type": {
            "type": ["string", "null"],
            "description": "Embed type",
            "example": "youtube"
          },
          "title": {
            "type": ["string", "null"],
            "description": "Embed title",
            "example": "Video Title"
          },
          "author_name": {
            "type": ["string", "null"],
            "description": "Author name",
            "example": "Author Name"
          },
          "author_url": {
            "type": ["string", "null"],
            "format": "uri",
            "description": "Author URL",
            "example": "https://example.com/author"
          },
          "source_url": {
            "type": ["string", "null"],
            "format": "uri",
            "description": "Embed source URL",
            "example": "https://www.youtube.com/watch?v=abc123"
          },
          "width": {
            "type": ["integer", "null"],
            "description": "Embed width",
            "example": 640
          },
          "height": {
            "type": ["integer", "null"],
            "description": "Embed height",
            "example": 480
          },
          "html": {
            "type": ["string", "null"],
            "description": "Embed HTML",
            "example": "\u003ciframe src='...'\u003e\u003c/iframe\u003e"
          },
          "thumbnail_url": {
            "type": ["string", "null"],
            "format": "uri",
            "description": "Thumbnail URL",
            "example": "https://example.com/thumbnail.jpg"
          }
        }
      },
      "BlockAttachment": {
        "type": "object",
        "properties": {
          "filename": {
            "type": ["string", "null"],
            "description": "Attachment filename",
            "example": "document.pdf"
          },
          "content_type": {
            "type": ["string", "null"],
            "description": "Attachment content type",
            "example": "application/pdf"
          },
          "file_size": {
            "type": ["integer", "null"],
            "description": "File size in bytes",
            "example": 2048000
          },
          "file_extension": {
            "type": ["string", "null"],
            "description": "File extension",
            "example": "pdf"
          },
          "updated_at": {
            "type": ["string", "null"],
            "format": "date-time",
            "description": "When the attachment was last updated"
          },
          "url": {
            "type": "string",
            "format": "uri",
            "description": "Attachment download URL",
            "example": "https://attachments.are.na/12345/document.pdf"
          }
        },
        "required": ["url"]
      },
      "Comment": {
        "type": "object",
        "description": "A comment on a block",
        "properties": {
          "id": {
            "type": "integer",
            "description": "Unique identifier for the comment",
            "example": 12345
          },
          "type": {
            "type": "string",
            "description": "Comment type",
            "enum": ["Comment"],
            "example": "Comment"
          },
          "body": {
            "oneOf": [
              { "$ref": "#/components/schemas/MarkdownContent" },
              { "type": "null" }
            ],
            "description": "Comment body with markdown, HTML, and plain text renderings"
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "When the comment was created",
            "example": "2023-01-15T10:30:00Z"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time",
            "description": "When the comment was last updated",
            "example": "2023-01-15T14:45:00Z"
          },
          "user": { "$ref": "#/components/schemas/EmbeddedUser" },
          "_links": {
            "allOf": [
              { "$ref": "#/components/schemas/Links" },
              { "description": "HATEOAS links for navigation" }
            ]
          }
        },
        "required": ["id", "type", "created_at", "updated_at", "user", "_links"]
      },
      "Channel": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "description": "Unique identifier for the channel",
            "example": 12345
          },
          "type": {
            "type": "string",
            "description": "Channel type",
            "enum": ["Channel"],
            "example": "Channel"
          },
          "slug": {
            "type": "string",
            "description": "Channel URL slug",
            "example": "my-collection-abc123"
          },
          "title": {
            "type": "string",
            "description": "Channel title",
            "example": "My Collection"
          },
          "description": {
            "oneOf": [
              { "$ref": "#/components/schemas/MarkdownContent" },
              { "type": "null" }
            ],
            "description": "Channel description with multiple renderings"
          },
          "state": {
            "type": "string",
            "enum": ["available", "deleted"],
            "description": "Lifecycle state of the channel:\n- `available`: Channel is active and accessible\n- `deleted`: Channel has been soft-deleted\n",
            "example": "available"
          },
          "visibility": {
            "type": "string",
            "enum": ["public", "private", "closed"],
            "description": "Visibility level of the channel:\n- `public`: Anyone can view and connect to the channel\n- `private`: Only the owner and collaborators can view\n- `closed`: Anyone can view, but only collaborators can add content\n",
            "example": "public"
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "When the channel was created",
            "example": "2023-01-15T10:30:00Z"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time",
            "description": "When the channel was last updated",
            "example": "2023-01-15T14:45:00Z"
          },
          "owner": { "$ref": "#/components/schemas/ChannelOwner" },
          "counts": { "$ref": "#/components/schemas/ChannelCounts" },
          "_links": {
            "allOf": [
              { "$ref": "#/components/schemas/Links" },
              { "description": "HATEOAS links for navigation" }
            ]
          },
          "connection": {
            "oneOf": [
              { "$ref": "#/components/schemas/ConnectionContext" },
              { "type": "null" }
            ],
            "description": "Connection context (only present when channel is returned as part of another channel's contents).\nContains position, pinned status, and information about who connected the channel.\n"
          }
        },
        "required": [
          "id",
          "type",
          "slug",
          "title",
          "state",
          "visibility",
          "created_at",
          "updated_at",
          "owner",
          "counts",
          "_links"
        ]
      },
      "ChannelOwner": {
        "description": "Channel owner (User or Group)",
        "oneOf": [
          { "$ref": "#/components/schemas/EmbeddedUser" },
          { "$ref": "#/components/schemas/EmbeddedGroup" }
        ],
        "discriminator": {
          "propertyName": "type",
          "mapping": {
            "User": "#/components/schemas/EmbeddedUser",
            "Group": "#/components/schemas/EmbeddedGroup"
          }
        }
      },
      "ChannelCounts": {
        "type": "object",
        "description": "Counts of various items in the channel",
        "properties": {
          "blocks": {
            "type": "integer",
            "description": "Number of blocks in the channel",
            "example": 42
          },
          "channels": {
            "type": "integer",
            "description": "Number of channels connected to this channel",
            "example": 8
          },
          "contents": {
            "type": "integer",
            "description": "Total number of contents (blocks + channels)",
            "example": 50
          },
          "collaborators": {
            "type": "integer",
            "description": "Number of collaborators on the channel",
            "example": 3
          }
        },
        "required": ["blocks", "channels", "contents", "collaborators"]
      },
      "PaginationMetaWithCount": {
        "type": "object",
        "description": "Pagination metadata when total counts are available",
        "properties": {
          "current_page": {
            "type": "integer",
            "description": "Current page number",
            "example": 1
          },
          "next_page": {
            "type": ["integer", "null"],
            "description": "Next page number (null if last page)",
            "example": 2
          },
          "prev_page": {
            "type": ["integer", "null"],
            "description": "Previous page number (null if first page)"
          },
          "per_page": {
            "type": "integer",
            "description": "Number of items per page",
            "example": 25
          },
          "total_pages": {
            "type": "integer",
            "description": "Total number of pages available",
            "example": 5
          },
          "total_count": {
            "type": "integer",
            "description": "Total number of items available",
            "example": 120
          },
          "has_more_pages": {
            "type": "boolean",
            "description": "Whether there are more pages available",
            "example": true
          }
        },
        "required": [
          "current_page",
          "per_page",
          "total_pages",
          "total_count",
          "has_more_pages"
        ]
      },
      "PaginationMetaWithoutCount": {
        "type": "object",
        "description": "Pagination metadata when total counts are not available",
        "properties": {
          "current_page": {
            "type": "integer",
            "description": "Current page number",
            "example": 1
          },
          "next_page": {
            "type": ["integer", "null"],
            "description": "Next page number (null if last page)",
            "example": 2
          },
          "prev_page": {
            "type": ["integer", "null"],
            "description": "Previous page number (null if first page)"
          },
          "per_page": {
            "type": "integer",
            "description": "Number of items per page",
            "example": 25
          },
          "has_more_pages": {
            "type": "boolean",
            "description": "Whether there are more pages available",
            "example": true
          }
        },
        "required": ["current_page", "per_page", "has_more_pages"]
      },
      "PaginationMeta": {
        "description": "Pagination metadata union matching pagination behavior with and without total counts",
        "oneOf": [
          { "$ref": "#/components/schemas/PaginationMetaWithCount" },
          { "$ref": "#/components/schemas/PaginationMetaWithoutCount" }
        ]
      },
      "PaginatedResponseBase": {
        "type": "object",
        "description": "Base schema for all paginated responses (use allOf to extend with specific data type)",
        "properties": {
          "meta": { "$ref": "#/components/schemas/PaginationMeta" }
        },
        "required": ["data", "meta"]
      },
      "PaginatedResponseWithCountBase": {
        "type": "object",
        "description": "Base schema for paginated responses with total count (use allOf to extend with specific data type)",
        "properties": {
          "meta": { "$ref": "#/components/schemas/PaginationMetaWithCount" }
        },
        "required": ["data", "meta"]
      },
      "UserList": {
        "type": "object",
        "description": "Data payload containing an array of users",
        "properties": {
          "data": {
            "type": "array",
            "description": "Array of users",
            "items": { "$ref": "#/components/schemas/User" }
          }
        },
        "required": ["data"]
      },
      "ChannelList": {
        "type": "object",
        "description": "Data payload containing an array of channels",
        "properties": {
          "data": {
            "type": "array",
            "description": "Array of channels",
            "items": { "$ref": "#/components/schemas/Channel" }
          }
        },
        "required": ["data"]
      },
      "ConnectableList": {
        "type": "object",
        "description": "Data payload containing mixed content that can be connected to channels (blocks and channels)",
        "properties": {
          "data": {
            "type": "array",
            "description": "Array of blocks and channels",
            "items": {
              "oneOf": [
                { "$ref": "#/components/schemas/TextBlock" },
                { "$ref": "#/components/schemas/ImageBlock" },
                { "$ref": "#/components/schemas/LinkBlock" },
                { "$ref": "#/components/schemas/AttachmentBlock" },
                { "$ref": "#/components/schemas/EmbedBlock" },
                { "$ref": "#/components/schemas/Channel" }
              ]
            }
          }
        },
        "required": ["data"]
      },
      "FollowableList": {
        "type": "object",
        "description": "Data payload containing followable items (users, channels, and groups)",
        "properties": {
          "data": {
            "type": "array",
            "description": "Array of users, channels, and/or groups",
            "items": {
              "oneOf": [
                { "$ref": "#/components/schemas/User" },
                { "$ref": "#/components/schemas/Channel" },
                { "$ref": "#/components/schemas/Group" }
              ]
            }
          }
        },
        "required": ["data"]
      },
      "EverythingList": {
        "type": "object",
        "description": "Data payload containing all content types",
        "properties": {
          "data": {
            "type": "array",
            "description": "Array of results (blocks, channels, users, or groups)",
            "items": {
              "oneOf": [
                { "$ref": "#/components/schemas/TextBlock" },
                { "$ref": "#/components/schemas/ImageBlock" },
                { "$ref": "#/components/schemas/LinkBlock" },
                { "$ref": "#/components/schemas/AttachmentBlock" },
                { "$ref": "#/components/schemas/EmbedBlock" },
                { "$ref": "#/components/schemas/Channel" },
                { "$ref": "#/components/schemas/User" },
                { "$ref": "#/components/schemas/Group" }
              ]
            }
          }
        },
        "required": ["data"]
      },
      "UserListResponse": {
        "description": "Paginated list of users with total count",
        "allOf": [
          { "$ref": "#/components/schemas/UserList" },
          { "$ref": "#/components/schemas/PaginatedResponseWithCountBase" }
        ]
      },
      "ChannelListResponse": {
        "description": "Paginated list of channels with total count",
        "allOf": [
          { "$ref": "#/components/schemas/ChannelList" },
          { "$ref": "#/components/schemas/PaginatedResponseWithCountBase" }
        ]
      },
      "ConnectableListResponse": {
        "description": "Paginated list of connectable content (blocks and channels)",
        "allOf": [
          { "$ref": "#/components/schemas/ConnectableList" },
          { "$ref": "#/components/schemas/PaginatedResponseBase" }
        ]
      },
      "FollowableListResponse": {
        "description": "Paginated list of followable items (users, channels, and groups) with total count",
        "allOf": [
          { "$ref": "#/components/schemas/FollowableList" },
          { "$ref": "#/components/schemas/PaginatedResponseWithCountBase" }
        ]
      },
      "EverythingListResponse": {
        "description": "Paginated list of all content types with total count",
        "allOf": [
          { "$ref": "#/components/schemas/EverythingList" },
          { "$ref": "#/components/schemas/PaginatedResponseWithCountBase" }
        ]
      },
      "CommentList": {
        "type": "object",
        "description": "Data payload containing an array of comments",
        "properties": {
          "data": {
            "type": "array",
            "description": "Array of comments",
            "items": { "$ref": "#/components/schemas/Comment" }
          }
        },
        "required": ["data"]
      },
      "CommentListResponse": {
        "description": "Paginated list of comments with total count",
        "allOf": [
          { "$ref": "#/components/schemas/CommentList" },
          { "$ref": "#/components/schemas/PaginatedResponseWithCountBase" }
        ]
      },
      "PingResponse": {
        "type": "object",
        "description": "Health check response",
        "properties": {
          "status": { "type": "string", "enum": ["ok"], "example": "ok" }
        },
        "required": ["status"]
      }
    }
  },
  "paths": {
    "/v3/oauth/token": {
      "post": {
        "summary": "Obtain access token",
        "description": "Exchange credentials for an access token. This is the OAuth 2.0 token endpoint.\n\n**Supported Grant Types:**\n\n- `authorization_code`: Exchange an authorization code for an access token\n- `authorization_code` + PKCE: For public clients without a client secret\n- `client_credentials`: Authenticate as your application (server-to-server)\n\n**PKCE Support:** For public clients (mobile apps, SPAs), use PKCE by sending\n`code_challenge` and `code_challenge_method` in the authorization request, then\ninclude `code_verifier` when exchanging the code. See [RFC 7636](https://tools.ietf.org/html/rfc7636).\n\nAccess tokens do not expire and can be used indefinitely. Register your application\nat [are.na/oauth/applications](https://www.are.na/oauth/applications) to obtain client credentials.\n",
        "operationId": "createOAuthToken",
        "tags": ["Authentication"],
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "required": ["grant_type"],
                "properties": {
                  "grant_type": {
                    "type": "string",
                    "enum": ["authorization_code", "client_credentials"],
                    "description": "The OAuth 2.0 grant type"
                  },
                  "client_id": {
                    "type": "string",
                    "description": "Your application's client ID (required for all grant types)"
                  },
                  "client_secret": {
                    "type": "string",
                    "description": "Your application's client secret (required for confidential clients, omit for PKCE)"
                  },
                  "code": {
                    "type": "string",
                    "description": "Authorization code (required for authorization_code grant)"
                  },
                  "redirect_uri": {
                    "type": "string",
                    "format": "uri",
                    "description": "Redirect URI used in authorization request (required for authorization_code grant)"
                  },
                  "code_verifier": {
                    "type": "string",
                    "description": "PKCE code verifier (required when authorization used code_challenge).\nMust be 43-128 characters from [A-Z], [a-z], [0-9], \"-\", \".\", \"_\", \"~\".\n"
                  }
                }
              },
              "examples": {
                "client_credentials": {
                  "summary": "Client Credentials Grant",
                  "description": "Server-to-server authentication",
                  "value": {
                    "grant_type": "client_credentials",
                    "client_id": "your_client_id",
                    "client_secret": "your_client_secret"
                  }
                },
                "authorization_code": {
                  "summary": "Authorization Code Grant",
                  "description": "Exchange authorization code for token (confidential client)",
                  "value": {
                    "grant_type": "authorization_code",
                    "client_id": "your_client_id",
                    "client_secret": "your_client_secret",
                    "code": "authorization_code_from_redirect",
                    "redirect_uri": "https://your-app.com/callback"
                  }
                },
                "authorization_code_pkce": {
                  "summary": "Authorization Code + PKCE",
                  "description": "Exchange authorization code for token (public client with PKCE)",
                  "value": {
                    "grant_type": "authorization_code",
                    "client_id": "your_client_id",
                    "code": "authorization_code_from_redirect",
                    "redirect_uri": "https://your-app.com/callback",
                    "code_verifier": "dBjftJeZ4CVP-mB92K27uhbUJU1p1r_wW1gFWFOEjXk"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Access token granted",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "access_token",
                    "token_type",
                    "scope",
                    "created_at"
                  ],
                  "properties": {
                    "access_token": {
                      "type": "string",
                      "description": "The access token to use for API requests"
                    },
                    "token_type": {
                      "type": "string",
                      "enum": ["Bearer"],
                      "description": "Token type (always \"Bearer\")"
                    },
                    "scope": {
                      "type": "string",
                      "description": "Granted scopes (space-separated)",
                      "example": "write"
                    },
                    "created_at": {
                      "type": "integer",
                      "description": "Unix timestamp when the token was created"
                    }
                  }
                },
                "example": {
                  "access_token": "abc123def456...",
                  "token_type": "Bearer",
                  "scope": "write",
                  "created_at": 1702900000
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "enum": [
                        "invalid_request",
                        "invalid_client",
                        "invalid_grant",
                        "unauthorized_client",
                        "unsupported_grant_type"
                      ]
                    },
                    "error_description": { "type": "string" }
                  }
                },
                "examples": {
                  "invalid_grant": {
                    "summary": "Invalid grant",
                    "value": {
                      "error": "invalid_grant",
                      "error_description": "The provided authorization grant is invalid, expired, or revoked."
                    }
                  },
                  "unsupported_grant_type": {
                    "summary": "Unsupported grant type",
                    "value": {
                      "error": "unsupported_grant_type",
                      "error_description": "The authorization grant type is not supported."
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Invalid client credentials",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": { "type": "string", "example": "invalid_client" },
                    "error_description": {
                      "type": "string",
                      "example": "Client authentication failed due to unknown client or invalid credentials."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v3/openapi": {
      "get": {
        "summary": "Get OpenAPI specification",
        "description": "Returns the OpenAPI 3.0 specification for this API in YAML format. This endpoint provides the complete API contract for programmatic access and documentation generation.",
        "operationId": "getOpenapiSpec",
        "tags": ["System"],
        "responses": {
          "200": {
            "description": "OpenAPI specification in YAML format",
            "content": {
              "application/yaml": { "schema": { "type": "string" } }
            }
          },
          "404": { "$ref": "#/components/responses/NotFoundResponse" }
        }
      }
    },
    "/v3/openapi.json": {
      "get": {
        "summary": "Get OpenAPI specification (JSON)",
        "description": "Returns the OpenAPI 3.0 specification for this API in JSON format. This endpoint provides the complete API contract in JSON for tools that prefer JSON over YAML.",
        "operationId": "getOpenapiSpecJson",
        "tags": ["System"],
        "responses": {
          "200": {
            "description": "OpenAPI specification in JSON format",
            "content": {
              "application/json": { "schema": { "type": "object" } }
            }
          },
          "404": { "$ref": "#/components/responses/NotFoundResponse" }
        }
      }
    },
    "/v3/ping": {
      "get": {
        "summary": "Ping endpoint",
        "operationId": "getPing",
        "description": "Public utility endpoint for API health checks and connection testing.",
        "tags": ["System"],
        "responses": {
          "200": {
            "description": "Ping response",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/PingResponse" }
              }
            },
            "headers": {
              "X-RateLimit-Limit": {
                "description": "Request limit per minute for this user's tier",
                "schema": { "type": "string" },
                "example": "120"
              },
              "X-RateLimit-Tier": {
                "description": "User's current tier",
                "schema": { "type": "string" },
                "example": "free"
              }
            }
          },
          "429": { "$ref": "#/components/responses/RateLimitResponse" }
        }
      }
    },
    "/v3/blocks/{id}": {
      "get": {
        "summary": "Get a block",
        "description": "Returns detailed information about a specific block by its ID. Respects visibility rules and user permissions.",
        "operationId": "getBlock",
        "tags": ["Blocks"],
        "parameters": [{ "$ref": "#/components/parameters/IdParam" }],
        "responses": {
          "200": {
            "description": "Block details",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Block" }
              }
            }
          },
          "401": { "$ref": "#/components/responses/UnauthorizedResponse" },
          "403": { "$ref": "#/components/responses/ForbiddenResponse" },
          "404": { "$ref": "#/components/responses/NotFoundResponse" },
          "429": { "$ref": "#/components/responses/RateLimitResponse" }
        }
      }
    },
    "/v3/blocks/{id}/connections": {
      "get": {
        "summary": "Get block connections",
        "operationId": "getBlockConnections",
        "description": "Returns paginated list of channels where this block appears.\nThis shows all channels that contain this block, respecting visibility rules and user permissions.\n",
        "tags": ["Blocks"],
        "parameters": [
          { "$ref": "#/components/parameters/IdParam" },
          { "$ref": "#/components/parameters/PageParam" },
          { "$ref": "#/components/parameters/PerParam" },
          { "$ref": "#/components/parameters/ConnectionSortParam" },
          {
            "name": "filter",
            "in": "query",
            "required": false,
            "description": "Filter connections by ownership:\n- `ALL`: All accessible connections (default)\n- `OWN`: Only connections created by the current user\n- `EXCLUDE_OWN`: All connections except those created by the current user\n",
            "schema": {
              "type": "string",
              "enum": ["ALL", "OWN", "EXCLUDE_OWN"],
              "default": "ALL"
            },
            "example": "ALL"
          }
        ],
        "responses": {
          "200": {
            "description": "List of channels where this block appears",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ChannelListResponse" }
              }
            }
          },
          "401": { "$ref": "#/components/responses/UnauthorizedResponse" },
          "403": { "$ref": "#/components/responses/ForbiddenResponse" },
          "404": { "$ref": "#/components/responses/NotFoundResponse" },
          "429": { "$ref": "#/components/responses/RateLimitResponse" }
        }
      }
    },
    "/v3/blocks/{id}/comments": {
      "get": {
        "summary": "Get block comments",
        "operationId": "getBlockComments",
        "description": "Returns paginated list of comments on this block.\nComments are ordered by creation date (ascending by default, oldest first).\n",
        "tags": ["Blocks"],
        "parameters": [
          { "$ref": "#/components/parameters/IdParam" },
          { "$ref": "#/components/parameters/PageParam" },
          { "$ref": "#/components/parameters/PerParam" },
          { "$ref": "#/components/parameters/ConnectionSortParam" }
        ],
        "responses": {
          "200": {
            "description": "List of comments on this block",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/CommentListResponse" }
              }
            }
          },
          "401": { "$ref": "#/components/responses/UnauthorizedResponse" },
          "403": { "$ref": "#/components/responses/ForbiddenResponse" },
          "404": { "$ref": "#/components/responses/NotFoundResponse" },
          "429": { "$ref": "#/components/responses/RateLimitResponse" }
        }
      }
    },
    "/v3/channels/{id}": {
      "get": {
        "summary": "Get a channel",
        "description": "Returns detailed information about a specific channel by its ID or slug. Respects visibility rules and user permissions.",
        "operationId": "getChannel",
        "tags": ["Channels"],
        "parameters": [{ "$ref": "#/components/parameters/SlugOrIdParam" }],
        "responses": {
          "200": {
            "description": "Channel details",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Channel" }
              }
            }
          },
          "401": { "$ref": "#/components/responses/UnauthorizedResponse" },
          "403": { "$ref": "#/components/responses/ForbiddenResponse" },
          "404": { "$ref": "#/components/responses/NotFoundResponse" },
          "429": { "$ref": "#/components/responses/RateLimitResponse" }
        }
      }
    },
    "/v3/channels/{id}/contents": {
      "get": {
        "summary": "Get channel contents",
        "operationId": "getChannelContents",
        "description": "Returns paginated contents (blocks and channels) from a channel.\nRespects visibility rules and user permissions.\n",
        "tags": ["Channels"],
        "parameters": [
          { "$ref": "#/components/parameters/SlugOrIdParam" },
          { "$ref": "#/components/parameters/PageParam" },
          { "$ref": "#/components/parameters/PerParam" },
          { "$ref": "#/components/parameters/ChannelContentSortParam" },
          {
            "name": "user_id",
            "in": "query",
            "required": false,
            "description": "Filter by user who added the content",
            "schema": { "type": "integer" },
            "example": 12345
          }
        ],
        "responses": {
          "200": {
            "description": "Channel contents with pagination metadata",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConnectableListResponse"
                }
              }
            }
          },
          "401": { "$ref": "#/components/responses/UnauthorizedResponse" },
          "403": { "$ref": "#/components/responses/ForbiddenResponse" },
          "404": { "$ref": "#/components/responses/NotFoundResponse" },
          "429": { "$ref": "#/components/responses/RateLimitResponse" }
        }
      }
    },
    "/v3/channels/{id}/connections": {
      "get": {
        "summary": "Get channel connections",
        "operationId": "getChannelConnections",
        "description": "Returns paginated list of channels where this channel appears.\nThis shows all channels that contain this channel, respecting visibility rules and user permissions.\n",
        "tags": ["Channels"],
        "parameters": [
          { "$ref": "#/components/parameters/SlugOrIdParam" },
          { "$ref": "#/components/parameters/PageParam" },
          { "$ref": "#/components/parameters/PerParam" },
          { "$ref": "#/components/parameters/ConnectionSortParam" }
        ],
        "responses": {
          "200": {
            "description": "List of channels where this channel appears",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ChannelListResponse" }
              }
            }
          },
          "401": { "$ref": "#/components/responses/UnauthorizedResponse" },
          "403": { "$ref": "#/components/responses/ForbiddenResponse" },
          "404": { "$ref": "#/components/responses/NotFoundResponse" },
          "429": { "$ref": "#/components/responses/RateLimitResponse" }
        }
      }
    },
    "/v3/channels/{id}/followers": {
      "get": {
        "summary": "Get channel followers",
        "operationId": "getChannelFollowers",
        "description": "Returns paginated list of users who follow this channel.\nAll followers are users.\n",
        "tags": ["Channels"],
        "parameters": [
          { "$ref": "#/components/parameters/SlugOrIdParam" },
          { "$ref": "#/components/parameters/PageParam" },
          { "$ref": "#/components/parameters/PerParam" },
          { "$ref": "#/components/parameters/ConnectionSortParam" }
        ],
        "responses": {
          "200": {
            "description": "List of users who follow this channel",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/UserListResponse" }
              }
            }
          },
          "401": { "$ref": "#/components/responses/UnauthorizedResponse" },
          "403": { "$ref": "#/components/responses/ForbiddenResponse" },
          "404": { "$ref": "#/components/responses/NotFoundResponse" },
          "429": { "$ref": "#/components/responses/RateLimitResponse" }
        }
      }
    },
    "/v3/me": {
      "get": {
        "summary": "Get current user",
        "operationId": "getCurrentUser",
        "description": "Returns the currently authenticated user's profile",
        "tags": ["Users"],
        "responses": {
          "200": {
            "description": "Current user details",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/User" }
              }
            }
          },
          "401": { "$ref": "#/components/responses/UnauthorizedResponse" },
          "429": { "$ref": "#/components/responses/RateLimitResponse" }
        }
      }
    },
    "/v3/users/{id}": {
      "get": {
        "summary": "Get a user",
        "description": "Returns detailed information about a specific user by their slug. Includes user profile, bio, and counts.",
        "operationId": "getUser",
        "tags": ["Users"],
        "parameters": [{ "$ref": "#/components/parameters/SlugOrIdParam" }],
        "responses": {
          "200": {
            "description": "User details",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/User" }
              }
            }
          },
          "401": { "$ref": "#/components/responses/UnauthorizedResponse" },
          "403": { "$ref": "#/components/responses/ForbiddenResponse" },
          "404": { "$ref": "#/components/responses/NotFoundResponse" },
          "429": { "$ref": "#/components/responses/RateLimitResponse" }
        }
      }
    },
    "/v3/users/{id}/contents": {
      "get": {
        "summary": "Get user contents",
        "operationId": "getUserContents",
        "description": "Returns paginated contents (blocks and channels) created by a user.\nUses the search API to find all content added by the specified user.\nRespects visibility rules and user permissions.",
        "tags": ["Users"],
        "parameters": [
          { "$ref": "#/components/parameters/SlugOrIdParam" },
          { "$ref": "#/components/parameters/PageParam" },
          { "$ref": "#/components/parameters/PerParam" },
          { "$ref": "#/components/parameters/ContentSortParam" },
          { "$ref": "#/components/parameters/ContentTypeFilterParam" }
        ],
        "responses": {
          "200": {
            "description": "User contents with pagination metadata",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConnectableListResponse"
                }
              }
            }
          },
          "401": { "$ref": "#/components/responses/UnauthorizedResponse" },
          "403": { "$ref": "#/components/responses/ForbiddenResponse" },
          "404": { "$ref": "#/components/responses/NotFoundResponse" },
          "429": { "$ref": "#/components/responses/RateLimitResponse" }
        }
      }
    },
    "/v3/users/{id}/followers": {
      "get": {
        "summary": "Get user followers",
        "operationId": "getUserFollowers",
        "description": "Returns paginated list of users who follow this user.\nAll followers are users.\n",
        "tags": ["Users"],
        "parameters": [
          { "$ref": "#/components/parameters/SlugOrIdParam" },
          { "$ref": "#/components/parameters/PageParam" },
          { "$ref": "#/components/parameters/PerParam" },
          { "$ref": "#/components/parameters/ConnectionSortParam" }
        ],
        "responses": {
          "200": {
            "description": "List of users who follow this user",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/UserListResponse" }
              }
            }
          },
          "401": { "$ref": "#/components/responses/UnauthorizedResponse" },
          "403": { "$ref": "#/components/responses/ForbiddenResponse" },
          "404": { "$ref": "#/components/responses/NotFoundResponse" },
          "429": { "$ref": "#/components/responses/RateLimitResponse" }
        }
      }
    },
    "/v3/users/{id}/following": {
      "get": {
        "summary": "Get user following",
        "operationId": "getUserFollowing",
        "description": "Returns paginated list of users, channels, and groups that this user follows.\nCan be filtered by type to return only specific followable types.\n",
        "tags": ["Users"],
        "parameters": [
          { "$ref": "#/components/parameters/SlugOrIdParam" },
          { "$ref": "#/components/parameters/PageParam" },
          { "$ref": "#/components/parameters/PerParam" },
          { "$ref": "#/components/parameters/ConnectionSortParam" },
          {
            "name": "type",
            "in": "query",
            "required": false,
            "description": "Filter by followable type",
            "schema": {
              "type": "string",
              "enum": ["User", "Channel", "Group"]
            },
            "example": "Channel"
          }
        ],
        "responses": {
          "200": {
            "description": "List of users, channels, and groups that this user follows",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FollowableListResponse"
                }
              }
            }
          },
          "401": { "$ref": "#/components/responses/UnauthorizedResponse" },
          "403": { "$ref": "#/components/responses/ForbiddenResponse" },
          "404": { "$ref": "#/components/responses/NotFoundResponse" },
          "429": { "$ref": "#/components/responses/RateLimitResponse" }
        }
      }
    },
    "/v3/groups/{id}": {
      "get": {
        "summary": "Get a group",
        "description": "Returns detailed information about a specific group by its slug. Includes group profile, bio, owner, and counts.",
        "operationId": "getGroup",
        "tags": ["Groups"],
        "parameters": [{ "$ref": "#/components/parameters/SlugOrIdParam" }],
        "responses": {
          "200": {
            "description": "Group details",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Group" }
              }
            }
          },
          "401": { "$ref": "#/components/responses/UnauthorizedResponse" },
          "403": { "$ref": "#/components/responses/ForbiddenResponse" },
          "404": { "$ref": "#/components/responses/NotFoundResponse" },
          "429": { "$ref": "#/components/responses/RateLimitResponse" }
        }
      }
    },
    "/v3/groups/{id}/contents": {
      "get": {
        "summary": "Get group contents",
        "operationId": "getGroupContents",
        "description": "Returns paginated contents (blocks and channels) created by a group.\nUses the search API to find all content added by the specified group.\nRespects visibility rules and user permissions.",
        "tags": ["Groups"],
        "parameters": [
          { "$ref": "#/components/parameters/SlugOrIdParam" },
          { "$ref": "#/components/parameters/PageParam" },
          { "$ref": "#/components/parameters/PerParam" },
          { "$ref": "#/components/parameters/ContentSortParam" },
          { "$ref": "#/components/parameters/ContentTypeFilterParam" }
        ],
        "responses": {
          "200": {
            "description": "Group contents with pagination metadata",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConnectableListResponse"
                }
              }
            }
          },
          "401": { "$ref": "#/components/responses/UnauthorizedResponse" },
          "403": { "$ref": "#/components/responses/ForbiddenResponse" },
          "404": { "$ref": "#/components/responses/NotFoundResponse" },
          "429": { "$ref": "#/components/responses/RateLimitResponse" }
        }
      }
    },
    "/v3/groups/{id}/followers": {
      "get": {
        "summary": "Get group followers",
        "operationId": "getGroupFollowers",
        "description": "Returns paginated list of users who follow this group.\nAll followers are users.\n",
        "tags": ["Groups"],
        "parameters": [
          { "$ref": "#/components/parameters/SlugOrIdParam" },
          { "$ref": "#/components/parameters/PageParam" },
          { "$ref": "#/components/parameters/PerParam" },
          { "$ref": "#/components/parameters/ConnectionSortParam" }
        ],
        "responses": {
          "200": {
            "description": "List of users who follow this group",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/UserListResponse" }
              }
            }
          },
          "401": { "$ref": "#/components/responses/UnauthorizedResponse" },
          "403": { "$ref": "#/components/responses/ForbiddenResponse" },
          "404": { "$ref": "#/components/responses/NotFoundResponse" },
          "429": { "$ref": "#/components/responses/RateLimitResponse" }
        }
      }
    },
    "/v3/search": {
      "get": {
        "summary": "Search across Are.na",
        "operationId": "search",
        "description": "Search across blocks, channels, users, and groups.\n\n**⚠️ Premium Only**: This endpoint requires a Premium subscription.\n\n**Examples:**\n- Simple: `/v3/search?q=brutalism`\n- Images only: `/v3/search?q=architecture\u0026type=Image`\n- My content: `/v3/search?q=*\u0026scope=my`\n- In a channel: `/v3/search?q=design\u0026scope=channel:12345`\n- PDFs sorted by date: `/v3/search?q=*\u0026ext=pdf\u0026sort=created_at_desc`\n",
        "tags": ["Search"],
        "security": [{ "BearerAuth": [] }, { "OAuth2": ["write"] }],
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": false,
            "description": "Search query. Use `*` to match everything (useful with filters).\n",
            "schema": { "type": "string", "default": "*" },
            "example": "design"
          },
          {
            "name": "type",
            "in": "query",
            "required": false,
            "description": "Content types to search (comma-separated).\nBlock subtypes: Text, Image, Link, Attachment, Embed.\nOther: Channel, User, Group, Block (all block types).\n",
            "schema": {
              "type": "array",
              "items": { "$ref": "#/components/schemas/SearchTypeFilter" }
            },
            "style": "form",
            "explode": false,
            "example": ["Image", "Link"]
          },
          {
            "name": "scope",
            "in": "query",
            "required": false,
            "description": "Where to search:\n- `all` - Everything (default)\n- `my` - Current user's content\n- `following` - Content from followed users/channels\n- `user:ID` - Specific user's content\n- `group:ID` - Specific group's content\n- `channel:ID` - Specific channel's content\n",
            "schema": { "type": "string", "default": "all" },
            "example": "channel:12345"
          },
          {
            "name": "in",
            "in": "query",
            "required": false,
            "description": "Fields to search within (comma-separated).\nOptions: name, description, content, domain, url.\nDefaults to all fields.\n",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": ["name", "description", "content", "domain", "url"]
              }
            },
            "style": "form",
            "explode": false,
            "example": ["name", "description"]
          },
          {
            "name": "ext",
            "in": "query",
            "required": false,
            "description": "Filter by file extensions (comma-separated)",
            "schema": {
              "type": "array",
              "items": { "$ref": "#/components/schemas/FileExtension" }
            },
            "style": "form",
            "explode": false,
            "example": ["pdf", "jpg"]
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "description": "Sort order. Options:\n- `score_desc` (default) - Relevance\n- `created_at_desc`, `created_at_asc`\n- `updated_at_desc`, `updated_at_asc`\n- `name_asc`, `name_desc`\n- `connections_count_desc`\n- `random` (use with `seed` for reproducibility)\n",
            "schema": {
              "type": "string",
              "enum": [
                "score_desc",
                "created_at_desc",
                "created_at_asc",
                "updated_at_desc",
                "updated_at_asc",
                "name_asc",
                "name_desc",
                "connections_count_desc",
                "random"
              ],
              "default": "score_desc"
            },
            "example": "created_at_desc"
          },
          {
            "name": "after",
            "in": "query",
            "required": false,
            "description": "Only return results updated after this date (ISO 8601)",
            "schema": { "type": "string", "format": "date-time" },
            "example": "2024-01-01T00:00:00Z"
          },
          {
            "name": "seed",
            "in": "query",
            "required": false,
            "description": "Random seed for reproducible results (use with `sort=random`)",
            "schema": { "type": "integer" },
            "example": 1234567890
          },
          { "$ref": "#/components/parameters/PageParam" },
          { "$ref": "#/components/parameters/PerParam" }
        ],
        "responses": {
          "200": {
            "description": "Search results with pagination metadata",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EverythingListResponse"
                }
              }
            }
          },
          "400": { "$ref": "#/components/responses/ValidationErrorResponse" },
          "401": { "$ref": "#/components/responses/UnauthorizedResponse" },
          "403": {
            "description": "Premium subscription required",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" },
                "example": {
                  "error": "Forbidden",
                  "code": 403,
                  "details": {
                    "message": "This endpoint requires a Premium subscription"
                  }
                }
              }
            }
          },
          "429": { "$ref": "#/components/responses/RateLimitResponse" }
        }
      }
    }
  },
  "tags": [
    {
      "name": "Authentication",
      "description": "OAuth 2.0 authentication endpoints. Use these to obtain access tokens\nfor API requests. Register your application at [are.na/oauth/applications](https://www.are.na/oauth/applications).\n\n**Endpoints:**\n- Authorization: `https://www.are.na/oauth/authorize` (user-facing, on main site)\n- Token: `https://api.are.na/v3/oauth/token` (API endpoint)\n\n**Supported Flows:**\n- Authorization Code: For web/mobile apps with a backend server\n- Authorization Code + PKCE: For public clients (mobile apps, SPAs)\n- Client Credentials: For server-to-server integrations\n\nPKCE ([RFC 7636](https://tools.ietf.org/html/rfc7636)) is recommended for\nall authorization code flows and required for public clients.\n"
    },
    {
      "name": "System",
      "description": "Health checks and API metadata (OpenAPI spec, ping)"
    },
    {
      "name": "Blocks",
      "description": "Blocks are the fundamental content units on Are.na. They can be text,\nimages, links, attachments, or embedded media. Blocks can be connected\nto multiple channels and have comments.\n"
    },
    {
      "name": "Channels",
      "description": "Channels are collections of blocks and other channels. They can be public,\nprivate, or closed (viewable but not editable). Channels have an owner\n(User or Group) and can have collaborators.\n"
    },
    {
      "name": "Users",
      "description": "Users are individual accounts on Are.na. Each user has a profile with\nchannels, followers, and content they've created or saved.\n"
    },
    {
      "name": "Groups",
      "description": "Groups are collaborative organizations that can own channels. Members\nof a group can contribute to group-owned channels.\n"
    },
    {
      "name": "Search",
      "description": "Full-text search across blocks, channels, users, and groups. Supports\nfiltering by type, user, channel, and various metadata fields.\n\n**⚠️ Premium Only**: Search endpoints require a Premium subscription.\n"
    }
  ]
}
